a:link {
  text-decoration: none;
}
body{
  background-color: #F3F3FD;
  /* background-image:url(asset/bg.png); */
  /* background-repeat: no-repeat; */
  background-size: 1400px;
}

.textW{
  font-size: 40px;
  margin-bottom: 0px;

}
.textN{
  margin: 0;
  padding:0;
  font-size: 40px;
  font-weight: bold;
  /* color : #4486F6; */

}

.btn{
  font-weight: bold;
}
.navbar-brand{
  font-size: 25px;
}

.login_body {
  background-image: url(asset/Login_BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;;
  background-position: center;
}
.box1 h1{
  text-align: center;
  color: #fafafa;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 4px solid #752BEA;
}
.box1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 25px;
  width: 25%;
  background-color: rgba(10, 5, 30, 0.366);
  box-shadow: 0 0 10px rgba(255,255,255,.3);
  border-radius: 4px;
  font-family: sans-serif;
}
